@import "./../../../../assets/scss/variables";
@import "./../../../../assets/scss/buttons";

.default {
  &.mat-mdc-unelevated-button {
    border-radius: $radius;
  }
  &.mat-mdc-unelevated-button:not(:disabled) {
    background-color: $basic-color;
    border-radius: $radius;
  }
}

.green-rounded {
  &.mat-mdc-unelevated-button {
    border-radius: $radius;
  }
  &.mat-mdc-unelevated-button:not(:disabled) {
    background-color: $green-color;
  }
}
