@import "./variables";

.blue-rounded {
  border: none;
  padding: 1rem 2rem;
  background-color: $basic-color;
  border-radius: $radius;
  width: max-content;

  * {
    text-decoration: none;
    color: white;
  }
}

.green-rounded {
  .btn.mat-mdc-unelevated-button[_ngcontent-ng-c442526171]:not(:disabled) {
    background-color: $green-color;
  }
}
