@import "./variables";

.blue-rounded-element {
  border: none;
  padding: 1rem 2rem;
  background-color: $basic-color;
  border-radius: $radius;
  width: max-content;
  color: white;
  
  * {
    text-decoration: none;
    color: white;
  }
}
