<div class="home">
  <div class="home-nav">
    <ul>
      @for (key of navConfig; track i; let i = $index; let last = $last) {
        <li>
          <a [routerLink]="i ? '/' + key : ''">
            {{ "home." + key | translate }}</a
          >
        </li>
      }
    </ul>
    <div>
      <app-button
        [title]="langTitle | uppercase"
        (click)="changeLang()"
        [buttonClassName]="'me-2 green-rounded'"
      />
      <app-button
        [title]="(basic ? 'home.barbie' : 'home.default') | translate"
        (click)="changeColor()"
        buttonClassName="me-2"
      />
      <img class="home-logo" src="./assets/img/logo.png" alt="logo" />
    </div>
  </div>
  <div class="home-router">
    <router-outlet />
  </div>
</div>
