<div class="d-flex flex-column gap-4">
  @for (card of info; track $index) {
    <mat-card class="example-card w-100">
      <mat-card-header>
        <mat-card-title>zarządzenia pt.4art.7</mat-card-title>
        <mat-card-subtitle>Zarząd </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="pt-3">
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam autem, modi, ut illum dignissimos illo praesentium nesciunt minima id similique quia ipsam a et placeat sed animi odio totam! Unde, eos quod. Aliquam, numquam laborum iste ipsum reprehenderit ipsam magni quia atque eveniet expedita repellat iusto eius maiores soluta natus!
        </p>
      </mat-card-content>
    </mat-card>
  }
</div>
