<div class="login-component">
  @if (form) {
    <form [formGroup]="form">
      <h2 class="login-component--header">
        {{
          (pageTypeLogin ? "loginRegister.login" : "loginRegister.createAccount")
            | translate
        }}
      </h2>

      @for (field of formConfig; track $index) {
        <app-input
          [placeholder]="
            'loginRegister.form.placeholder.' + field.formControlName | translate
          "
          [label]="'loginRegister.form.' + field.formControlName | translate"
          [formControlName]="field.formControlName"
          [type]="field.type ?? 'text'"
          ngDefaultControl
        />
      }
      @if (pageTypeLogin) {
        <p>
          <a [routerLink]="'/register'">{{"loginRegister.dontHaveAccountMessage" | translate}}</a>
        </p>
      }
    </form>
    <app-button
      class="login-component--submit"
      [disabled]="!pageTypeLogin"
      [title]="
        (pageTypeLogin ? 'loginRegister.login' : 'loginRegister.register')
          | translate
      "
      (click)="submitForm()"
    />
  }
</div>
