<div class="backgroud">
  <img
    [src]="
      './assets/img/' + (basicMode ? 'home-basic' : 'home-barbie') + '.svg'
    "
    alt="logo-text"
  />
</div>

<div class="home-page">
  <img
    class="home-page--logo"
    src="./assets/img/logo-text.svg"
    alt="logo-text"
  />
  <p
    class="home-page--header"
    [innerText]="'general.header' | translate"
  ></p>
  <p
    class="home-page--description"
    [innerText]="'general.description' | translate"
  ></p>
  <app-button
    class="home-page--button"
    routerLink="/login"
    [innerText]="'general.joinUs' | translate"
  />
  <div class="home-page--footer">
    <p [innerText]="'general.copyright' | translate"></p>
  </div>
</div>
